.iconricheng {
  color: rgb(254, 191, 96);

}

.iconjiaoyiguanli {
  color: rgb(51, 153, 51);
}

.iconrizhi {
  color: rgb(217, 229, 242);
}

.icondingdanjihe {
  color: #333366
}

.iconmeeting {
  color: #3366cc
}

.iconlaba {
  color: #006633
}

.iconlaba {
  color: #003366
}

.iconkhu {
  color: #6666cc
}

.iconhongjiuchengiconkefu {
  color: #3366cc
}

.iconshouhou {
  color: #006633
}

.iconshouhou2 {
  color: #333366
}

.iconxinyong {
  color: #ff9933
}

.iconshenpi {
  color: #6699cc
}

.iconxiangmu {
  color: #333366
}

.icongongyingshang {
  color: #339933
}

.iconprocurement-plan-m {
  color: #333366
}

.iconxunjia {
  color: #003366
}

.icondinghuo {
  color: #333366
}

.iconshouhuo {
  color: #6666cc
}

.icontuihuo {
  color: #6666cc
}

.iconjiesuan {
  color: #ff9933
}

.iconxiangmuyilanbiao {
  color: #003366
}

.iconwuliaoguanli {
  color: #6699cc
}

.iconwuliaoruku {
  color: #339933
}

.iconwuliaochuku {
  color: #3366cc
}

.iconkucunguanli {
  color: #6699cc
}

.iconkucunchaxun {
  color: #339933
}
.iconkucunzhangbiao{
    color: #333366
}
.iconwuliaoguanli{
    color: #ff9933
}
.iconchejianguanli{
    color: #333366
}
.iconyuangongguanli{
    color: #3366cc
}
.iconshebeiguanli{
    color: #339933
}
.iconmojuguanli{
    color: #3366cc
}
.icongongzhonggongxu{
    color: #6699cc
}
.iconpaichanguanli{
    color: #339933
}
.icongaoduxiangtong{
    color: #ff9933
}
.iconxianchangguanli{
    color: #3366cc
}
.iconchengpinguanli{
    color: #ff9933
}
.iconwuliaotongji{
    color: #6699cc
}
.iconzhiliangtongji{
    color: #6666cc
}
.iconyuangongtongji{
    color: #333366
}
.iconchanliangtongji{
    color: #3366cc
}
.iconyingshouguanli{
    color: #333366
}
.iconyingfuguanli{
    color: #ff9933
}
.iconyijiaoliucheng{
    color: #3366cc
}
.iconkaipiaoyaoqiu{
    color: #339933
}
.iconwode1{
    color: #339933
}
.icontongxunlu{
    color: #6666cc
}
.iconzonghefenxi{
    color: #6699cc
}
.iconicon_xinchouguanli{
    color: #3366cc
}
.iconpeixunshengjihua{
    color: #003366
}
.iconzuzhi{
    color: #006633
}
.iconcheliangguanli{
    color: #333366
}
.iconhuiyishi{
    color: #3366cc
}
.iconsushe{
    color: #339933
}
.iconzhishiku-copy{
    color: #6666cc
}
.iconkehuguanli{
    color: #ff9933
}
.iconjihuashu{
    color: #6699cc
}
.iconxiaoshou{
    color: #003366
}
.iconxiaoshoudingdan{
    color: #006633
}
.iconxiaoshoukaidan{
    color: #3366cc
}
.icontuihuodan{
    color: #339933
}
.iconxiaoshou2{
    color: #6666cc
}
.iconsale-order{
    color: #ff9933
}
.iconshouhuoliebiao{
    color: #3366cc
}
.iconfahuoliebiao{
    color: #003366
}
.iconshezhi{
    color: #006633
}
.iconzl_zhijian{
    color: #3366cc
}
.iconchuchangbaogao{
    color: #6699cc
}
.iconshengchanjihua_{
    color: #333366
}
.iconshengchandingdan{
    color: #ff9933
}
.iconnavicon-wlpp{
    color: #6699cc
}
.iconshengchanchangshangguanli{
    color: #333366
}
.iconweiwaidingdan{
    color: #3366cc
}
.iconweiwaigongxu{
    color: #6699cc
}
.iconweiwaichuku{
    color: #6666cc
}
.iconweiwairuku{
    color: #333366
}
.iconshenqingbaoxiao{
    color: #6699cc
}
.icondaibanshenpifeiyongbaoxiao{
    color: #6699cc
}
.conjiekuan{
    color: #ff9933
}
.iconbaoxiaotongji{
    color: #339933
}
.iconlianmeng{
    color: #333366
}
.iconxietong{
    color: #6666cc
}
.iconicon_zhuizong{
    color: #339933
}
.icontongjifenxi{
    color: #ff9933
}
.iconxietong{
    color: #6699cc
}
.iconicon_zhuizong{
    color: #339933
}